body{
  height: 100%;
  width: 100%;

  background-color: rgb(248, 239, 229);
  font: normal 16px "Roboto", sans-serif;
}

.wrapper {
  width: calc(4 * 225px);
  margin: 0 auto;
}
  .timer{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #353535;
}
  .value {
    margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 170px;
  color:#ff5722;
  background: #ffffff;

  }
  .label {
    width: 100%;
    height: auto;
    font-size: 50px;
    background: #ff5722;
    color: #ffffff;
  }
  .field {
    width: 210px;
    height: 360px;
    background: #ffffff;
    float: left;
    padding: 25px 0 0 0;
    margin: 30px 15px 0 0;
    -webkit-box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
    -moz-box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
    box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
  }
  
